@charset "UTF-8";

html {
    height: 100%;
}

.header {
    width: 100%;
    height: auto;
    padding-top: 10%;
    /* padding-bottom: 6%; */
}

body {
    height: 100%;
    background: linear-gradient(to bottom, #1e90ff, #f9ed3b);
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    /* リンクの下線を消す */
}

a:visited {
    color: inherit;
    /* 親要素の色を継承 */
    text-decoration: none;
    /* 下線を削除 */
}

/* タイトルロゴ */
.logo {
    max-width: 10%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    display: block;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

.contents {
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-family: "adobe-clean";
    margin-bottom: 15px;
}

.contents-title {
    /* text-align: left; */
    font-size: 12px;
    color: #fff;
    font-family: "adobe-clean";
    margin-left: 25%;
}

.center {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
}

.subcontents {
    /* text-align: center; */
    font-size: 12px;
    color: #fff;
    font-family: "adobe-clean";
}

.link {
    text-align: center;
    text-decoration: underline;
    color: #fff;
    font-size: small;
}

.added {
    text-align: center;
    color: #fff;
    font-size: small;
}

.added-bold {
    text-align: center;
    color: #fff;
    font-size: medium bold;
}

.input {
    border-radius: 5px !important;
    width: 10rem;
    height: 2rem;
    border: solid 1px #e0e0e0;
}

.btn {
    background-color: red;
    /* 赤地 */
    color: white;
    /* 白字 */
    padding: 10px 20px;
    width: fit-content;
    margin: 10px;
    /* パディング */
    border: none;
    /* ボーダーなし */
    border-radius: 5px;
    /* 角丸 */
    align-items: right;
    position: absolute;
    left: 70%;
    transform: translateX(-70%);
}

.btn-center {
    background-color: red;
    /* 赤地 */
    color: white;
    /* 白字 */
    padding: 10px 20px;
    width: fit-content;
    margin: 10px;
    /* パディング */
    border: none;
    /* ボーダーなし */
    border-radius: 10px;
    /* 角丸 */
}

.transparent-border {
    width: 300px;
    height: auto;
    background-color: rgba(130, 130, 130, 0.4);
    /* 半透明の四角形 */
    border-radius: 5px;
    /* 角丸 */
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.form {
    border-radius: 30px;
    /* 角を丸める */
    background-color: #fff;
    /* フォームの背景色 */
    padding: 20px;
    /* フォームの余白 */
}
