@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    /* 要素を両端に配置 */
    align-items: center;
    /* 要素を垂直方向に中央揃え */
    padding: 0% 10%;
}

head {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
}

a:visited {
    color: inherit;
    /* 親要素の色を継承 */
    text-decoration: none;
    /* 下線を削除 */
}

/* タイトルロゴ */
.logo {
    max-width: 30%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 10px;
}

/* 矢印 */
.dli-chevron-up {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li {
    display: block;
    border: 1px solid #ccc;
    padding: 20%;
    margin-bottom: 0px;
    width: 10rem;
    background-color: #fff;
    text-align: center;
}

li:hover {
    color: #fff;
    background-color: #00008b;
    /* マウスオン時の背景色 */
}

.right-align {
    text-align: right;
}

/* メニューのスタイル */
.menu {
    display: none;
    position: absolute;
    right: 5%;
}

.menu.active {
    display: block;
}

/* モーダル */
.modal_menu {
    display: none;
}

.modal_menu.active {
    display: block;
    cursor: pointer;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main content */
#row {
    display: flex;

    .small-image {
        max-width: 200px;
        /* 最大幅を指定 */
        height: auto;
        /* 高さを自動調整 */
    }

    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.btn {
    max-width: 20%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 0px;
}

.btn-danger {
    ax-width: 20%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 0px;
}

.buttonClass {
    max-width: 20%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 0px;
}

.btn-search {
    background-color: #186AC9;
    /* 赤地 */
    color: white;
    /* 白字 */
    padding: 10px 20px;
    width: fit-content;
    margin: 10px;
    /* パディング */
    border: none;
    /* ボーダーなし */
    border-radius: 5px;
    /* 角丸 */
    align-items: right;
    /* position: end;
    left: 70%;
    transform: translateX(-70%); */
    border: none;

}

.form-group {
    width: 100%;
    border-bottom: 3px solid #e0e0e0;
    /* 下線のみ表示 */
    padding: 10px;
    /* フォームの内側の余白 */
    border-radius: 5px;
    /* 角丸 */
}

.form-control {
    width: calc(100% - 20px);
    /* フォームの幅から余白を除く */
    height: 100px;
    border: none;
    /* テキスト入力フィールドのボーダーを削除 */
    outline: none;
    /* フォーカス時のアウトラインを削除 */
}

.btn-success {
    margin-top: 10px;
    /* 投稿ボタンの上部の余白 */
    border-radius: 5px;
    /* 投稿ボタンの角丸 */
}

.table {
    text-align: center;
    margin: auto;
}

.icon {
    max-width: 40px;
    /* 最大幅を指定 */
    height: 40px;
    /* 高さを自動調整 */
    margin: 10px;
}

.transparent-border {
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 10px;
}
