@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    display: flex;
    padding-top: 1px;
    justify-content: space-between;
    align-items: center;
}

head {
    display: flex;
    color: #fff;
    align-items: center;
}

#container {
    flex: 0 0 80%;
    width: 100%;
    padding: 0%;
    border-right: solid 1px #727272;
}

#side-bar {
    flex: 0 0 19%;
    /* border-left: 1px solid #727272; */
}

.side-bar {
    flex: 0 0 19%;
    align-items: end;
    border-bottom: 1PX solid #727272;
    padding-bottom: 3rem;
    padding: 1rem;
}

.space {
    display: flex;
    justify-content: space-between;
}

.topline {
    border-bottom: 10px;
    color: #727272;
}

.line {
    border-bottom: 1px;
    color: #727272;
}

.top_item {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

/* タイトルロゴ */
.logo {
    max-width: 30%;
    height: auto;
    margin: 10px;
}

/* 矢印 */
.dli-chevron-up {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

/* main content */
#row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0%;
    padding: 0%;
}

.small-image {
    max-width: 200px;
    height: auto;
}

/* ハンバーガーメニュー */
.menu {
    display: none;
    position: absolute;
    right: 5%;
    top: 10%;
}

.menu.active {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li {
    display: block;
    border: 1px solid #ccc;
    padding: 20%;
    background-color: #fff;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

li:hover {
    color: #fff;
    background-color: #00008b;
    /* マウスオン時の背景色 */
}

.right-align {
    text-align: center;
    color: #fff;
}

/* topページ */
.flex {
    display: flex;
    padding: 1rem;
}

.left {
    width: 10%;
    height: auto;

}

.center {
    width: 70%;
    height: auto;
}

.right {
    width: 30%;
    height: auto;
    padding-left: 3rem;
}

.right_btn {
    display: flex;
}

.block {
    display: block;
}

/* ポスト関係 */

.post {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
    padding-left: 5rem;
}

.posts {
    display: flex;
    border-bottom: 1px solid #727272;
}

.post-user {
    text-align: left;
    font-size: small;
    font-weight: bold;
}

.post-contents {
    text-align: left;
    font-size: small;
}

.post-time {
    font-size: smaller;
}

.post_profile_show {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10%;
    border-bottom: 1px solid #e0e0e0;
}



/* モーダル */

.content {
    margin: 0 auto;
    padding: 0%;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
}

.modal_post {
    width: 500px;
    height: 170px;
    align-items: center;
    /* padding: 50px; */
    margin-bottom: 10%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.modal_success {
    width: 30px;
    height: auto;
    padding-left: 45%;
}

.modal_btn {
    width: 3.5rem;
    height: auto;
    border-radius: 5px;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 45%;
}

/* ボタン関係 */

.btn {
    width: 3.5rem;
    height: auto;
    border-radius: 5px;
    margin-top: 2rem;
}

.trash-btn {
    margin: 1px;
    border-radius: 5px;
    /* width: 30px; */
    height: auto;
    border-radius: 5px;
}

.btn_success {
    margin: 1px;
    border-radius: 5px;
    /* width: 30px; */
    height: auto;
    border-radius: 5px;
}

.btn_success_modal {
    margin: 1px;
    border-radius: 5px;
    width: 30px;
    height: auto;
    border-radius: 5px;
}

.btn-post {
    width: 3rem;
    height: auto;
    border-radius: 5px;
    /* padding-right: 20%; */
    position: absolute;
    left: auto;
    right: 25%;
}

.btn-danger {
    height: auto;
    margin: 0px;
}

.buttonClass {
    max-width: 20%;
    height: auto;
    margin: 0px;
}

.btn_search {
    background-color: #186AC9;
    color: white;
    font-size: small;
    padding: 10px 20px;
    width: fit-content;
    margin: 10px;
    border: none;
    border-radius: 5px;
    border: none;
    margin-left: 40%;
}

.btn_search_center {
    background-color: #186AC9;
    color: white;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    align-items: right;
    border: none;
}

.unfollow_btn {
    width: auto;
    height: 30px;
    color: #fff;
    background-color: #f91b1f;
    border-radius: 5px;
    text-align: center;
}

.follow_btn {
    width: auto;
    height: 30px;
    color: #fff;
    background-color: #00a6f9;
    border-radius: 5px;
    text-align: center;
}

.update-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* フォーム */

.form_style {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #e0e0e0;
    padding: 20px;
}

.form_group {
    width: 100%;
    border-bottom: 3px solid #e0e0e0;
    padding: 2rem;
    border-radius: 5px;
}

.form-control {
    width: calc(100% - 20px);
    height: 100px;
    border: none;
    outline: none;
}

/* フォロー・フォロワーリスト */
.flex_follow {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.left_follow {
    width: 30%;
    height: auto;
    font-size: larger;

}

.center_follow {
    width: 70%;
    height: auto;
}


/* ユーザー検索 */

.search_layout {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}


.search-form form {
    display: flex;
    align-items: center;
    padding: 50px;
    margin-bottom: 10%;
    /* border-bottom: 3px solid #e0e0e0; */
}

.search-form input[type="text"] {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2rem;
}

.search_layout_item {
    justify-content: space-between;
}

.search_flex {
    display: flex;
    align-items: center;
    border-bottom: solid 3px #e0e0e0;
}

/* プロフィール編集 */

.flex_profile {
    display: flex;
    padding: 1rem;
    margin: auto;
}

.left_profile {
    width: 13rem;
    text-align: left;
    font-size: 12px;
    font-family: "adobe-clean";
    padding: 10px;
}

.center_profile {
    text-align: center;
    font-size: 12px;
    font-family: "adobe-clean";
    padding: 10px;
}

.flex_profile_show {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.left_profile_show {
    margin-right: 1rem;
}


.table {
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #727272;
}

.icon {
    max-width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.transparent-border {
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 30px;
}
