@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    /* margin-top: 5%; */
    display: flex;
    padding-top: 1px;
    justify-content: space-between;
    /* 要素を両端に配置 */
    align-items: center;
    /* 要素を垂直方向に中央揃え */
    /* padding: 0% 10%; */
}

head {
    display: flex;
    color: #fff;
    align-items: center;
}

.topline {
    border-bottom: 10px;
    color: #727272;
}

.line {
    border-bottom: 1px;
    color: #727272;
}

button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    /* リンクの下線を消す */
}

a:visited {
    color: inherit;
    /* 親要素の色を継承 */
    text-decoration: none;
    /* 下線を削除 */
}

/* タイトルロゴ */
.logo {
    max-width: 30%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 10px;
}

/* 矢印 */
.dli-chevron-up {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}

.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 2;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

li {
    display: block;
    border: 1px solid #ccc;
    padding: 20%;
    margin-bottom: 0px;
    width: 10rem;
    background-color: #fff;
    text-align: center;
}

li:hover {
    color: #fff;
    background-color: #00008b;
    /* マウスオン時の背景色 */
}

.right-align {
    text-align: center;
    color: #fff;
}

/* メニューのスタイル */
.menu {
    display: none;
    position: absolute;
    right: 5%;
    top: 10%;
}

.menu.active {
    display: block;
}

.post {
    display: block;
    border-bottom: 1px solid #727272;
}

.flex {
    display: block;
    /* justify-content: space-between; */
    border-bottom: 1px solid #727272;
    align-items: center;
}

.left {
    width: 10%;
    height: auto;

}

.center {
    width: 70%;
    height: auto;
}

.right {
    width: 20%;
    height: auto;
}

.right_btn {
    display: grid;
    position: relative;
    right: 20%;
}

/* モーダル */

.content {
    margin: 0 auto;
    padding: 0%;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
}

.modal_post {
    width: 500px;
    height: 170px;
    align-items: center;
    /* padding: 50px; */
    margin-bottom: 10%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.modal_success {
    width: 30px;
    height: auto;
    padding-left: 45%;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

.small-image {
    max-width: 200px;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
}


#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.btn {
    width: 3.5rem;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    border-radius: 5px;
}

.trash-btn {
    /* width: 30%; */
    height: auto;
    border-radius: 5px;
}

.btn-success {
    width: 30px;
    height: auto;
    border-radius: 5px;
}

.btn-post {
    width: 3rem;
    height: auto;
    border-radius: 5px;
    padding-right: 20%;
}

.btn-danger {
    /* ax-width: 20%; */
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 0px;
}

.buttonClass {
    max-width: 20%;
    /* 最大幅を指定 */
    height: auto;
    /* 高さを自動調整 */
    margin: 0px;
}

.posts {
    display: flex;
}

.post-user {
    text-align: left;
    font-size: small;
    font-weight: bold;
}

.post-contents {
    text-align: left;
    font-size: small;
    /* width: 60%; */
}

.post-time {
    text-align: right;
    font-size: smaller;
}

.posts-btn {
    display: flex;
}

.btn-search {
    background-color: #186AC9;
    /* 赤地 */
    color: white;
    /* 白字 */
    padding: 10px 20px;
    width: fit-content;
    margin: 10px;
    /* パディング */
    border: none;
    /* ボーダーなし */
    border-radius: 5px;
    /* 角丸 */
    align-items: right;
    /* position: end;
    left: 70%;
    transform: translateX(-70%); */
    border: none;

}

.form_style {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #e0e0e0;
    /* フォームの背景色 */
    padding: 20px;
    /* フォームの余白 *
}

.form-group {
    /* width: 100%; */
    border-bottom: 3px solid #e0e0e0;
    /* 下線のみ表示 */
    padding: 10px;
    /* フォームの内側の余白 */
    border-radius: 5px;
    /* 角丸 */
}

.form-control {
    width: calc(100% - 20px);
    /* フォームの幅から余白を除く */
    height: 100px;
    border: none;
    /* テキスト入力フィールドのボーダーを削除 */
    outline: none;
    /* フォーカス時のアウトラインを削除 */
}

.btn-success {
    margin-top: 10px;
    /* 投稿ボタンの上部の余白 */
    border-radius: 5px;
    /* 投稿ボタンの角丸 */
}

.table {
    text-align: center;
    margin: auto;
}

.icon {
    max-width: 40px;
    /* 最大幅を指定 */
    height: 40px;
    /* 高さを自動調整 */
    /* margin: 15px; */
}

.transparent-border {
    margin-bottom: 10%;
    margin-left: 10%;
    padding: 30px;
}

.unfollow_btn {
    width: auto;
    height: 30px;
    color: #fff;
    background-color: #f91b1f;
    border-radius: 5px;
    text-align: center;
}

.follow_btn {
    width: auto;
    height: 30px;
    color: #fff;
    background-color: #00a6f9;
    border-radius: 5px;
    text-align: center;
}

.search_layout {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.search-form {}

.search-form form {
    display: flex;
    align-items: center;
    padding: 50px;
    margin-bottom: 10%;
    border-bottom: 3px solid #e0e0e0;
}

.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contents-title {
    text-align: left;
    font-size: 12px;
    /* background-color: #e0e0e0; */
    font-family: "adobe-clean";
    margin-left: 25%;
}

.subcontents {
    text-align: center;
    font-size: 12px;
    /* background-color: #e0e0e0; */
    font-family: "adobe-clean";
}

.search_layout_item {
    justify-content: space-between;
}
